
.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top:20px;
}

.house-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-row-gap:30px;
    grid-column-gap:15px;
   
}